@import "tailwindcss";
@theme {
    --color-spotify-green: #1ed760;
    --color-spotify-light-green: #3be477;
    --color-spotify-black: #121212;
    --color-spotify-grey: #d0d0d0;
}

.my-scroll::-webkit-scrollbar {
    width: 12px;
}

.my-scroll:hover::-webkit-scrollbar {
    opacity: 0.5;
}

.my-scroll:hover::-webkit-scrollbar-thumb {
    height: 240px;
    background-color: #808080;
}

.my-scroll:hover::-webkit-scrollbar-thumb:hover {
    background-color: #a7a7a7;
}
